# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled dependencies
*.d

Game

*.pro
*.pro.*
*.mp3

*.*~
*~
images/Underwater Prototype/*
